.landing-container {
  background-attachment: fixed;
  background-image: url("/images/hogwarts.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.landing-button {
  background-color: #e0b953;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  outline: none;
  padding: 1em;
}

.landing-button:hover {
  background-color: #ffdc2a;
}

.landing-button:focus {
  border: 3px solid #bf4e4e;
}

.landing-link {
  align-self: flex-end;
  display: flex;
  margin: 10em;
  outline: none;
  text-decoration: none;
}

@media only screen and (max-width: 658px) {
  .landing-button {
    font-size: 0.8em;
    overflow: auto;
    width: 25em;
  }
}
