.characters-page {
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/hungarian-horntail-dragon.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
}

.characters-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  padding: 2em 10em;
  width: 100%;
}

.character-buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 2em 2em 0 0;
}

.characters-header {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.loading-message {
  color: #bf4e4e;
  display: flex;
  font-size: 2em;
  justify-content: center;
}

.no-favorites-message {
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  font-size: 4em;
}

@media only screen and (max-width: 1000px) {
  .characters-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .characters-container {
    justify-content: center;
    overflow: auto;
    padding: 2em 3em;
  }
}
