.logo {
    height: 100%;
    position: absolute;
    right: 0;
}

.header-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4em;
}

h1 {
    color: black;
}