.explore-container {
    background-image: url("/images/train-with-smoke.jpg");
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

h2 {
    font-size: 5em;
    color: #f0f8ff;
    margin-bottom: 1rem;
}

.explore-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.explore-button {
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
    background-color: #E0B953;
    font-weight: 700;
    width: 20em;
    border: none;
    outline: none;
}

.explore-button:hover {
    background-color: #ffdc2a;
}

.explore-button:focus {
    border: 3px solid #bf4e4e;
}

a {
    text-decoration: none;
    outline: none;
}