.explore-container {
    align-items: center;
	  background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/images/train-with-smoke.jpg");
    background-position: center;
	  background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

h2 {
    color: #f0f8ff;
    font-size: 5em;
    margin-bottom: 1rem;
}

.explore-buttons-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.explore-button {
    background-color: #E0B953;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 1em;
    width: 20em;
}

.explore-button:hover {
    background-color: #ffdc2a;
}

.explore-button:focus {
    border: 3px solid #bf4e4e;
}

a {
    outline: none;
    text-decoration: none;
}

@media only screen and (max-width: 658px) {
    .explore-container {
      overflow: auto;
    }
    .explore-button {
        width: 13em;
    }
  }
